@import "~office-ui-fabric-react/dist/sass/References.scss";

.resViews {
  .container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
  }

  .width {
    max-width: 300px;
  }

  .error {
    color: red;
  }

  .paper {
    padding: "5px";
    border-color: "transparent";
    font-family: "Roboto";
  }

  .tabbar {
    margin-bottom: 20px;
  }

  .button {
    text-decoration: none;
    height: 32px;
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;
  }

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: $ms-font-size-m;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }

  // Add dropzone styles
  .dropZone {
    min-height: 140px !important;
  }

  .previewChip {
    min-width: 160px;
    max-width: 210px;
  }

  // Additional styles for facility section
  .facilityDetails {
    padding: 0 20px;
    margin-top: 20px;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    min-height: 100px;
  }
 
  tr > td {
    text-align: center;
  }

  td {
    max-width: 200px;
    pre {
      white-space: break-spaces;
    }
  }

  table {
    width: 75%;
  }

  .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    background: none;
    border: none;
    outline: none;
  }
}
